Repository xlsdg/umi-dva-electron-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix --syntax less

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx,less,scss,css}": "prettier --write",
  "src/**/*.{js,jsx}": "eslint --fix",
  "src/**/*.less": "stylelint --fix --syntax less"
}

chore(pkg): upgrade deps
  package.json
Due: none

chore(pkg): upgrade deps
  package.json
  src/renderer/components/AuthPage/index.jsx
  src/renderer/components/Layout/User/index.jsx
  src/renderer/components/Layout/User/index.less
  src/renderer/components/PrivatePage/index.jsx
  src/renderer/config/config.js
  src/renderer/global.less
  src/renderer/layouts/default/index.jsx
  src/renderer/layouts/default/index.less
  src/renderer/layouts/index.jsx
  src/renderer/pages/index.jsx
  src/renderer/redux/actions/home.js
  src/renderer/redux/actions/index.js
Due: prettier --write, eslint --fix, stylelint --fix --syntax less

chore(pkg): upgrade deps
  src/renderer/config/config.js
  src/renderer/config/config.local.js
  src/renderer/config/config.prod.js
Due: prettier --write, eslint --fix

chore(pkg): upgrade deps
  package.json
  src/renderer/app.js
  src/renderer/layouts/index.jsx
  src/renderer/redux/actions/index.js
  src/renderer/utils/fetch.js
  src/renderer/utils/helper.js
Due: prettier --write, eslint --fix

chore(pkg): upgrade deps
  src/renderer/transforms/home.js
Due: prettier --write, eslint --fix

chore(pkg): upgrade deps
  .eslintrc
  .gitignore
  .prettierignore
  .prettierrc
  .stylelintignore
  jsconfig.json
  package.json
  src/renderer/utils/helper.js
Due: prettier --write, eslint --fix

chore(pkg): upgrade deps
  .lintstagedrc
Due: none

chore(pkg): upgrade deps
  src/renderer/config/config.js
Due: prettier --write, eslint --fix

chore(pkg): upgrade deps
  .stylelintrc
  package.json
Due: none

chore(pkg): upgrade deps
  .prettierrc
  jsconfig.json
  package.json
  src/renderer/layouts/index.jsx
Due: prettier --write, eslint --fix

chore(pkg): upgrade deps
  package.json
  src/renderer/utils/helper.js
Due: prettier --write, eslint --fix

chore(pkg): upgrade deps
  package.json
  src/renderer/layouts/index.jsx
  src/renderer/pages/document.ejs
  src/renderer/utils/helper.js
Due: prettier --write, eslint --fix
